#wpadminbar ul#wp-admin-bar-root-default > li.zhutibaba a {
	background: url('../img/zhutibaba-favicon.png') no-repeat left center;
	background-size: 24px 24px;
  	-webkit-backface-visibility: hidden;
  	padding-left: 26px;
}

.taxonomy-image {
	max-width: 100%;
}

#mm-panel-alert,
#mm-panel-overview,
#mm-panel-secondary,
#mm-panel-current,
#mm-restore-settings,
#mm-credit-info {
	display: none !important;
}
